@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .test {
        @apply flex gap-2 items-center mt-3
    }
    img {
      user-select: none;
    }
    .my-shadow {
      box-shadow: rgba(60,64,67,.3) 0px 4px 12px 0px, rgba(60,64,67,.15) 0px 2px 8px 0px
    }
    .capitalize-first::first-letter {
      text-transform: uppercase;
    }

    #loader {
			border: 12px solid #f3f3f3;
			border-radius: 50%;
			border-top: 12px solid #444444;
			width: 70px;
			height: 70px;
			animation: spin 1s linear infinite;
		}
		.center {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		@keyframes spin {
			100% {
				transform: rotate(360deg);
			}
		}
}

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
    html {
      font-family: "Poppins", sans-serif;
    }
  }

